<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Login Page</title>
  </head>
  <body style=" background-image:url('/img/tetuan-buenos-aires-1.jpg');background-size:cover; ">
   
   


  <form method="post" action="/auth/login" style="background-color: black;height:200px;width:350px;padding-top: 30px;border:2px solid black;border-radius: 7px;padding-left: 50px; margin-left: 37%;opacity: 0.8;text-align:center;margin-top:150px ">
    <input type ="text" name="username" class="form-control" autocomplete="disabled" style="width:250px ;display: block;;margin-bottom: 20px;">

    <input type="password" name="password" class="form-control" autocomplete="disabled" style="width:250px ;display: block;margin-bottom: 20px;">
    <input type="submit" value="login" class="btn btn-drak" style=" background-color: #FBB448 !important; width: 150px;margin-left: -40px ">
   </form>
  </body>
</html>
